img {
    height: 4%;
    
}

 body{
    background-color: rgb(235, 232, 228);
    }
#total_order{
    background-color: #51F0BB
    }
#total_delivered{
    background-color: rgb(97, 245, 237)
    }
#total_pending{
    background-color: rgb(102, 171, 184)
    }
   