<div class="row">
    <div class="col-md-4 ">
        <div class="card text-center mb-4" id="total_order">
            <div class="card-header">
                <h5 class="card-title">Total Orders</h5>
            </div>
            <div class="card-body">
                <h3 class="card-title">{{total_order}}</h3>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-center mb-4 " id="total_delivered">
            <div class="card-header">
                <h5 class="card-title">Total Delivered</h5>
            </div>
            <div class="card-body">
                <h3 class="card-title">{{delivered}}</h3>
            </div>
        </div>
    </div>


    <div class="col-md-4">
        <div class="card text-center mb-4" id="total_pending">
            <div class="card-header">
                <h5 class="card-title">Total Pending</h5>
            </div>
            <div class="card-body">
                <h3 class="card-title">{{total_pending}}</h3>
            </div>
        </div>
    </div>
</div>